h1,h2,h3,h4,h5 {
    text-align:center;
}

.Titulo {
    background-image: url("../Imagenes/Fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.tamanio-completo {
    width: 100%;
}

.Imagenes{
    width: 115px;
    align-self: center;
}

.contenido-centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}