h1,h2,h3,h4,h5 {
    text-align:center;
}

.DatosPersonales {
    max-width: 60%;
    margin: auto;
}

.Imagenes{
    max-width: 50%;
    max-height: 50%;
}

footer{
    background-color: black;
    color: white;
    border: 10px solid black;
}

.Objetivo {
    max-width: 60%;
    margin: auto;
    text-align:center;
    font-size: large;
}